<launch>
    <include file="$(find common_config)/launch/load_all_params.launch" />
    <arg name="sync_process_flag" default="true" />
    <node   pkg="pkg_airsim_lidar_cloud"
            type="node_orin_cloud_publish.py"
            name="node_airsim_orin_lidar"
            required="true"
            output="screen" />
    <group if="$(arg sync_process_flag)">
        <node   pkg="pkg_airsim_lidar_cloud"
                type="node_filtered_cloud_sync_publish.py"
                name="node_airsim_filtered_sync_lidar"
                output="screen" />
    </group>
    <group unless="$(arg sync_process_flag)">
        <node   pkg="pkg_airsim_lidar_cloud"
                type="node_filtered_cloud_publish.py"
                name="node_airsim_filtered_lidar"
                output="screen" />
    </group>
</launch>